@charset "utf-8";

/*검색*/
.bbs_search {padding:20px; background:#f7f8f8; text-align:center; border:1px solid #f2f2f2; box-sizing:border-box;}
.bbs_search input[type="text"] {width:64%; padding-right:80px; box-sizing:border-box;}
.bbs_search select {width:25%; padding-right:10px; box-sizing:border-box;}
.bbs_search input[type="submit"].btn_search { padding:1px 10px 1px 30px; height:29px; line-height:25px; border:none; font-size:16px; color:#fff; cursor:pointer; box-sizing:border-box; background:#136caa url("../../images/default/icon_Search_ffffff.png") no-repeat 10px center;}
.bbs_search input[type="submit"].btn_search:hover, input[type="submit"].btn_search:focus {background-color:#18549b;}

/* 글쓰기 버튼 */
input[type="submit"].btn_write {padding:1px 20px; height:34px; line-height:32px; border:none; font-size:16px; color:#fff; cursor:pointer; box-sizing:border-box; background:#136caa;}
input[type="submit"].btn_write:hover, input[type="submit"].btn_write:focus {background-color:#18549b;}

/* 취소 버튼 */
input[type="button"].btn_write {padding:1px 20px; height:34px; line-height:32px; border:none; font-size:16px; color:#fff; cursor:pointer; box-sizing:border-box; background:#136caa;}
input[type="button"].btn_write:hover, input[type="button"].btn_write:focus {background-color:#18549b;}

/*날짜 검색이 포함된 검색*/
.bbs_date .date_wrap {width:50%; padding-right:10px; box-sizing:border-box;}
.bbs_date .date_wrap .searchselect {width:30%; padding-right:10px; box-sizing:border-box;}
.bbs_date .date_wrap .searchselect select {width:100%;}
.bbs_date .date_wrap .date_condition {width:70%;}
.bbs_date .date_wrap .date_condition .placeholder_box {position:relative; padding-right:18px; width:45%; box-sizing:border-box;}
.bbs_date .date_wrap .date_condition .placeholder_box input[type="text"] {width:100%;}
.bbs_date .date_wrap .date_condition .placeholder_box img {position:absolute; top:7px; right:0;}
.bbs_date .date_wrap .date_condition .searchenddate-lry {width:10%;}
.bbs_date .search_wrap {width:50%;}
.bbs_date .search_wrap .search_condition .searchselect {width:35%;}
.bbs_date .search_wrap .search_condition input[type="text"] {width:65%;}

/*게시물 갯수*/
.bbs_info {font-size:15px;}
.bbs_count.bbs_left {line-height:30px;}
.bbs_count .division_line {margin-left:5px;}

/* 보더 - 공통*/
.bbs_board {width:100%; border-collapse:collapse;}

/* 보더 - 리스트*/
.bbs_board.list .item{ margin-top: 40px; }
.bbs_board.list .item p{ margin-bottom: 10px; }
.bbs_board.list .item p span{ color: #136caa; font-weight: bold; }
.bbs_board.list thead tr:first-child th{font-weight:500; color:#fff; background:#136caa; border-bottom:none; border-right:1px solid #fff;}
.bbs_board.list thead tr:first-child th:last-child {border-right:none;}
.bbs_board.list th {padding:8px 10px;border-bottom:1px dashed #dbdbdb; text-align:center; font-size:16px; line-height:20px;}
.bbs_board.list tr:nth-child(odd) {background:#f8f8f8;}
.bbs_board.list tr.notice {background:#eaf6fc !important;}
.bbs_board.list td {padding:12px 10px;border-bottom:1px dashed #dbdbdb; color:#333; text-align:center; font-size:16px; line-height:18px;}
.bbs_board.list td.subject {padding:12px 10px 12px 40px; text-align:left; }
.bbs_board.list td.subject .blue {font-weight:700;}
.bbs_board.list tbody td a:hover, table.bbs_board_list tbody td a:focus {color:#136caa; text-decoration:underline;}

/* 보더 - 글보기 */
.bbs_board.view .title { background:#f7f8f8; font-size:100%; padding:15px; border:1px solid #ececec; margin-bottom:20px; box-sizing:border-box;}
.bbs_board.view .title .title_text { font-size: 140%; line-height:140%; color:#245aa6; margin-bottom: 10px;}
.bbs_board.view .title span{ color: #136caa; font-weight: bold; margin: 0 10px; }
.bbs_board.view .title ul li.bar{ margin: 0 10px; }

.bbs_board.view .contents{ background:#fff; border:1px solid #d8d8d9; box-sizing:border-box;}
.bbs_board.view .contents .con{ margin:0px 20px; padding:40px 0px; min-height: 400px; border-top:1px dashed #d8d8d9;}

.bbs_board.view .contents .bbs_btn { margin:0;padding:10px 20px 20px;}
.bbs_board.view .contents .bbs_btn a{ display: inline-block; background: #eeeded; border: 1px solid #c8c8c8; padding: 10px 15px; }


.bbs_board.view .contents .file_down{ background: #ffffff; padding:20px; font-weight:900; color: #245aa6; }
.bbs_board.view .contents .file_down ul{ line-height: 1.5; }
.bbs_board.view .contents .file_down ul li a{ display:inline-block; color: #245aa6;}
.bbs_board.view .contents .file_down ul li a:hover{ text-decoration: underline; }
.bbs_board.view .contents .file_down ul li span.f_d{ color:#245aa6; }
.bbs_board.view .contents .file_down ul li span.file_img img {vertical-align:middle;}


.bbs_board.view .comment_list {margin:20px 0; padding:10px; border:1px solid #d8d8d9; box-sizing:border-box;}
.bbs_board.view .comment_list table.comment {padding:20px 40px; background:#f7f8f8; border:1px solid #ececec;}
.bbs_board.view .comment_list table.comment td{ line-height: 1.5;  }
.bbs_board.view .comment_list table.comment td:nth-child(1){ width: 10%; }
.bbs_board.view .comment_list table.comment td:nth-child(2){ width: 65%; }
.bbs_board.view .comment_list table.comment td:nth-child(3){ width: 25%;  }
.bbs_board.view .comment_area {position:relative; margin:20px 0; padding:10px 100px 10px 10px; border:1px solid #d8d8d9; box-sizing:border-box;}
.bbs_board.view .comment_area .txt {width:100%; height:60px; background:#f7f8f8; border:1px solid #ececec;}
.bbs_board.view .comment_area .btn {position:absolute; display:block; top:0; right:10px; width:80px; height:60px; line-height:60px; text-align:center; background:#e5e5e5; border:1px solid #e0e0e0; box-sizing:border-box; font-weight:700;}

/* 보더 - 글쓰기 */
.bbs_board.write .title {width:100%; box-sizing: border-box; background:#ffffff; }
.bbs_board.write .title .title_text {width:10%; height:46px; line-height:46px; background:#245496; font-size:18px; color:#fff; text-align:center; font-weight:700;}
.bbs_board.write .title .text_area {padding:8px; width:90%; height:46px; border:1px solid #ececec; box-sizing:border-box;}
.bbs_board.write .title .text_area .w_title {display: inline-block; width:80%; height:28px; line-height:28px; padding-left: 1%; color: #245aa6; font-size: 16px; font-weight: bold; }
.bbs_board.write .title .text_area .pointChk {display: inline-block; margin-top:0px; margin-left:10px;}
.bbs_board.write .title .text_area .pointChkLabel {display: inline-block; margin-top:8px; padding-left: 6px;  color: #245aa6; font-weight: 900;}
.bbs_board .cont_write{ margin-top: 10px}
.bbs_board .edit {width:100%; min-height:500px; border:1px solid #d8d8d9; box-sizing:border-box;}
.bbs_board .addFile{margin-top: 10px} 
.bbs_board .addFile .w_file {margin-bottom:10px; border:1px solid #245496;}
.bbs_board .addFile .w_file:last-child {margin-bottom:0px;}

.bbs_board .btn { margin-top: 10px; float: right; }

/* 보더 - 글쓰기 버튼 */
.bbs_btn {margin:36px 0;}
.bbs_btn .btn_left {text-align:left;}
.bbs_btn .btn_right {text-align:right;}
.bbs_btn .btn {display:inline-block;padding:10px 20px;color:#fff; background:#18549b; font-size:16px;}
.bbs_btn .btn:hover {text-decoration:underline;}
.bbs_btn .btn.cancle {color:#000;background:#f7f7f7; border:1px solid #dbdbdb;}
.bbs_btn .btn.gra {color:#000;background:#f7f7f7; border:1px solid #dbdbdb;}

/* 보더 - 페이징 */
.paging { width: 340px; margin: 36px auto; }
.paging img{ background: gray; border-radius: 5px; }
.paging .btn_left{ margin-right: 10px; }
.paging .btn_right{ margin-left: 10px; }
.paging li{ display: inline-block; height: 30px; line-height: 30px; }
.paging li.bar{ margin: 10px 4px; height: 10px; width: 1px; background-color:#c6c6c7;}
.paging a.btn_paging_arrow {display:block; width:30px; height:100%; background-color:#d9d9d8; border-radius:4px; background-position:0px center; font-size:16px; background-repeat:no-repeat; text-indent:-99999px;}
.paging a.btn_paging_arrow:hover {background:#136caa; color:#fff;}
.paging a.btn_paging_arrow.end_pre {background-image:url('../../images/default/btn_bbsPaging_end_pre.png');}
.paging a.btn_paging_arrow.pre {background-image:url('../../images/default/btn_bbsPaging_pre.png');}
.paging a.btn_paging_arrow.end_next {background-image:url('../../images/default/btn_bbsPaging_end_next.png');}
.paging a.btn_paging_arrow.next {background-image:url('../../images/default/btn_bbsPaging_next.png');}
.paging a:hover {color:#136caa; text-decoration:underline;}

/* 미디어 쿼리*/
@media only screen and (max-width:960px){

  /*날짜 검색이 포함된 검색*/
  .bbs_date .search_wrap {width:100%;}

  /*보더 - 글보기 */
  .bbs_board.view .comment_list .comment {padding:20px;}

  /* 보더  - 리스트 */
  table.bbs_board.list colgroup{display:none}
  table.bbs_board.list thead{display:none;}
  table.bbs_board.list tbody, table.bbs_board.write tbody {border-top:2px solid #575757;}
  table.bbs_board.list tr{display:block; padding:4px 0; border-bottom:1px dashed #dbdbdb;}
  table.bbs_board.list tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0;}
  table.bbs_board.list tr{display: inline-block;}
  table.bbs_board.list tr{display: block;}
  table.bbs_board.list td{display:block;float:left;clear:left;width:100%;padding: 3px 10px 3px;border:none;text-align:left;box-sizing:border-box;}
  table.bbs_board.list td.subject {padding: 3px 10px 3px;}

}
@media only screen and (max-width:640px){

  /*검색*/
  .bbs_search .search_wrap {width:100%;}
  .bbs_search .search_wrap ul li {width:100%; padding:0 10px 10px 10px; box-sizing:border-box;}
  .bbs_search .search_wrap ul li:last-child {padding-bottom:0px;}
  .bbs_search .search_wrap .search_condition {padding:0px;}
  .bbs_search .search_wrap .search_condition .searchselect {width:100%; padding:0;}
  .bbs_search .search_wrap .search_condition input[type="text"] {margin-top:6px; width:calc(100% - 75px);}
  .bbs_search input[type="submit"].btn_search {top:35px;}

  /* 보더 - 글보기 */
  .bbs_board.view .contents .bbs_btn {padding:20px;}
  .bbs_board.view .contents .bbs_btn > div {width:100%;}
  .bbs_board.view .contents .bbs_btn > div:first-child {margin-bottom:10px;}
  .bbs_board.view .contents .bbs_btn > div > a:first-child {margin-right:2%;}
  .bbs_board.view .contents .bbs_btn > div > a {width:49%; box-sizing:border-box; text-align:center;}
  .bbs_board.view .contents .file_down {display:none;}
  .bbs_board.view .title .subTitle_text {display:none;}
  .bbs_board.view .comment_list .comment dl * {float:none;}
  .bbs_board.view .comment_list .comment dl .tit {width:100%; padding:0;}
  .bbs_board.view .comment_list .comment dl .txt {width:100%;}
  .bbs_board.view .comment_list .comment dl .data {width:100%; text-align:left;}

  /* 보더 - 글쓰기 */
  .bbs_board.form .title .title_text {padding-left:10px; width:100%; color:#000; border-top:2px solid #245496; text-align:left; background:#fff; box-sizing: border-box; }
  .bbs_board.form .title .text_area {width:100%; background:#fff; border-left:none; border-right:none; border-top:none;}

  /* 보더 - 페이징 */
  .paging.mobile {display:block}
  .paging.pc {display:none}
  .paging a.btn_paging_arrow.pre {padding-left:10px; width:100px; text-indent:0px; background-repeat:no-repeat;}
  .paging a.btn_paging_arrow.next {padding-right:10px; width:100px; text-indent:0px; background-position:80px center; background-repeat:no-repeat;}

}

@media only screen and (max-width:370px){

  /* 보더 - 페이징 */
  .paging a.btn_paging_arrow.end_pre, .paging a.btn_paging_arrow.end_next {display:none;}

}

