@charset "utf-8";

body#sub {height:auto;}
#container {position:relative; padding-top:150px; width:100%; background:#eaf6fc; box-sizing:border-box;}
#container > .wrap {background:#fff;}

/*헤더*/
.header_mainmenu {border-bottom:solid 1px #8aa3ca;}

/*왼쪽메뉴*/
#side {float:left; width:20%; height:100%; box-sizing:border-box; height:100%;}
.sidemenu .sidemenu_title {width: 100%; height: 117px; line-height: 117px; background: url("../../images/default/bg_LeftMenu_title.png") no-repeat center; background-size:100% 100%; color: #ffffff; text-align: center; font-size: 26px; font-weight:700;}
.sidemenu .sidemenu_list li.dept01{ box-sizing: border-box; border-bottom: 1px solid #f2f2f2; }
.sidemenu .sidemenu_list li.dept01:first-child { border-top: 1px solid #f2f2f2; }
.sidemenu .sidemenu_list li.dept01 a{display: block; padding: 16px 24px; color:#595758; font-size:19px; line-height:19px; letter-spacing: -2px; }
.sidemenu .sidemenu_list li.dept01:hover > a { color: #104487; font-weight: bold; }
.sidemenu .sidemenu_list li.dept01 ul{ display: block; }
.sidemenu .sidemenu_list li.dept01 ul li.dept02 > a{ font-size:16px; padding: 8px 5px 8px 40px; color:#06529A; background: url("../../images/default/icon_LeftMenu_con.png") no-repeat; background-size: 10px; background-position: 24px 5px; }
.sidemenu .sidemenu_list li.dept01 ul li.dept02:hover > a{ background:#f0efef url("../../images/default/icon_LeftMenu_con.png") no-repeat; background-size: 10px; background-position: 24px 5px; }
.sidemenu .sidemenu_list li.dept01 ul li.on > a{ background:#F3F3F3 url("../../images/default/icon_LeftMenu_con.png") no-repeat; background-size: 10px; background-position: 24px 5px; }
.sidemenu .sidemenu_list li.dept01 ul li.on:hover > a{ background:#f0efef url("../../images/default/icon_LeftMenu_con.png") no-repeat; background-size: 10px; background-position: 24px 5px; }

/*컨텐츠*/
#content_area {position:relative; float:left; padding:30px 40px 80PX; width:80%; min-height:700px; box-sizing:border-box; border-left:1px solid #f2f2f2;}

/*타이틀*/
.sub_title {position:relative; margin-bottom:50px; width:100%;}
.sub_title h2 {margin-bottom:14px; font-size:36px; line-height:40px; color:#263841;}
.sub_title h2 span {margin-right:10px; font-size:26px; line-height:30px; vertical-align:bottom;}
.sub_title .cur_loc_align {width:100%; font-size:14px; color:#676767;}
.sub_title .cur_loc_align .nav_gt{ padding:0 10px; }

/*탭메뉴*/
.tab_menu {position:relative; width:100%;}
.tab_menu .tab_list.n3 li {width:33.333333%;}
.tab_menu .tab_list.n4 li {width:25%;}
.tab_menu .tab_list.n5 li {width:20%;}
.tab_menu .tab_list.n6 li {width:16.6666666667%;}
.tab_menu .tab_list.n7 li {width:14.2857142857%;}
.tab_menu .tab_list li {float:left;}
.tab_menu .tab_list li a {display:block; padding:13px 0; height:50px; line-height:22px; text-align:center; font-size:18px;  border-bottom:1px solid #97b6d2; box-sizing:border-box;}
.tab_menu .tab_list li.active a {color:#005394; border-bottom:3px solid #005394;}

/*미디어쿼리*/
@media screen and (max-width:1600px) {

  #container {padding-left:20px; padding-right:20px;}
  #container > .wrap {padding:0px;}

}

@media screen and (max-width:1100px) {

  #side {width:25%;}
  #content_area {padding:30px 20px 60PX; width:75%;}

}

@media screen and (max-width:960px) {

  #container {padding:80px 2% 0;}
  #content_area {padding:30px 2% 60PX; width:100%; border:none;}
  .sub_title h2 {font-size:30px; line-height:30px;}
  .sub_title h2 span {font-size:20px; line-height:24px;}

}

@media screen and (max-width:640px) {

  .sub_title {margin-bottom:20px;}
  .sub_title .cur_loc_align {font-size:12px;}
  .sub_title .cur_loc_align .nav_gt {padding:0 4px;}

  /*탭메뉴*/
  .tab_menu .tab_list li a {font-size:14px; line-height:18px;}

}
